@font-face {
    font-family: "Exo 2", sans-serif;
    src: url("https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap");
}

body {
    font-family: "Exo 2", sans-serif;
    font-weight: 600;
}

a {
    color: inherit;
    text-decoration: none;
}

ul {
    list-style: none;
}

:root {
    --bg-blue: rgb(23, 5, 80);
    --bg-fiol: rgb(49, 6, 90);
    --text-white: rgb(255, 255, 255);
    --text-orange: rgb(248, 111, 3);
    --text-link: rgb(70, 25, 89);
}

.header-container {
    background: rgb(23, 5, 80);
}

.navbar-collapse {
    flex-grow: 0;
    gap: 33px;
}

.navbar-light .navbar-nav .nav-link  {
    color: var(--text-white);
    font-size: 18px;
}

.link {
    font-size: 18px;        
    font-weight: 600;
}


.btn {
    width: 150px;
    height: 40px;
    border-radius: 20px;
    background: var(--text-white);
    color: rgb(70, 25, 89);
}

.main-container {
    background-color: var(--bg-fiol);

}

.text-block {
        padding-top: 210px;
        padding-bottom: 210px;
        padding-left: 146px;
        color: var(--text-white);
}

.text-orange {
    color: var(--text-orange);
}

.text-1 {
    font-size: 30px;
}

.text-2 {
    font-size: 60px;
    font-weight: 700;
}

.text-3 {
    font-size: 35px;
    margin-bottom: 15px;
}

.text-4 {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 36px;
}


.social-networks {
    width: 30px;
    height: 30px;
    border: 3px solid white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center; 
}




.facebook-up:hover {
    transition: transform 0.3s ease-in-out;
}

.facebook-up:hover {
    animation: rotate-scale-up-fb 0.3s linear both;
}

.facebook-down {
    animation: rotate-scale-down-fb 0.3s linear both;
}

@keyframes rotate-scale-up-fb {
    0% {
        transform: scale(1);
        background: inherit;
    }
    100% {
        transform: scale(2);
        background: #3b5998;
    }
}

@keyframes rotate-scale-down-fb {
    0% {
        transform: scale(2);
        background: #3b5998;
    }
    100% {
        transform: scale(1);
        background: inherit;
    }
}

.linkedin-up:hover {
    transition: transform 0.3s ease-in-out;
}

.linkedin-up:hover {
    animation: rotate-scale-up-ln 0.3s linear both;
}

.linkedin-down {
    animation: rotate-scale-down-ln 0.3s linear both;
}

@keyframes rotate-scale-up-ln {
    0% {
        transform: scale(1);
        background: inherit;
    }
    100% {
        transform: scale(2);
        background: #1877F2;
    }
}

@keyframes rotate-scale-down-ln {
    0% {
        transform: scale(2);
        background: #1877F2;
    }
    100% {
        transform: scale(1);
        background: inherit;
    }
}

.github-up:hover {
    transition: transform 0.3s ease-in-out;
}

.github-up:hover {
    animation: rotate-scale-up-gh 0.3s linear both;
}

.github-down {
    animation: rotate-scale-down-gh 0.3s linear both;
}

@keyframes rotate-scale-up-gh {
    0% {
        transform: scale(1);
        background: inherit;
    }
    100% {
        transform: scale(2);
        background: #1b1f23;
    }
}

@keyframes rotate-scale-down-gh {
    0% {
        transform: scale(2);
        background: #1b1f23;
    }
    100% {
        transform: scale(1);
        background: inherit;
    }
}

.instagram-up:hover {
    transition: transform 0.3s ease-in-out;
}

.instagram-up:hover {
    animation: rotate-scale-up-ins 0.3s linear both;
}

.instagram-down {
    animation: rotate-scale-down-ins 0.3s linear both;
}

@keyframes rotate-scale-up-ins {
    0% {
        transform: scale(1);
        background: inherit;
    }
    100% {
        transform: scale(2);
        background: linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
    }
}

@keyframes rotate-scale-down-ins {
    0% {
        transform: scale(2);
        background: linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
    }
    100% {
        transform: scale(1);
        background: inherit;
    }
}







.gap-24 {
    gap: 24px;
    margin-bottom: 35px;
}

.fon-img {
    background: url(../img/Banner-Image.png) top center no-repeat content-box;
    padding-top: 27px;
}

/* ----------- */

.about {
    background: var(--bg-blue);
    color: var(--text-white);
}

.about-title {
    margin: 66px auto;
    gap: 10px;
}

.about-photo {
    margin: 100px 123px 156px 153px;
    max-width: 360px;
}

.about-text {
    margin-top: 40px;
}